# Ignore all
cmake/*
CMakeFiles/*
*.pyc
googletest*
test*
CMake*
bench_tpcc
bench_ycsb
cmake_*
*.cmake
*.tcl
*.a


## Unignore the following extensions
!*.h
!*.cc
!*.cpp
!*.sh
!*.MD
!*.py

# Unignore the following files
!*CMakeLists.txt

!.gitignore

# Unignore source code directories
!benchmark/
!cmake
!common/
!core/
!database/
!protocol/
!test/
